# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Logs generales del proyecto
*.log

# Backend (CodeIgniter 3)
backend/application/logs/
backend/system/cache/
backend/writable/   # por si agregás algo futuro
backend/vendor/

# Composer (si algún día lo corrés en root accidentalmente)
vendor/

# Environment files
.env
.env.*

# Temporary files
*.tmp
*.cache